// .caclulator

.caclulator__title {
  margin: 0;
  margin-bottom: 32px;

  font-family: $ff-nekst;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 90%;
  /* or 31px */
  color: $color-dark-1;
}

// .caclulator__inner-wrapper

// .caclulator__form

.caclulator__form fieldset {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  border: none;
}

.caclulator__form label {
  margin-bottom: 8px;

  font-family: $ff-gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  /* identical to box height, or 19px */
  color: $color-dark-4;
}

.caclulator__form input {
  
}
