.calculator {
  // padding-top: 45px;
  // padding-bottom: 45px;
  padding: 20px;

  @include vp-768 {
    // padding: 64px 38px 64px;
    padding: 36px;
  }

  @include vp-1120 {
    padding: 213px 48px 213px;
    padding: 48px;
  }
}

.calculator__title {
  margin: 0;
  margin-bottom: 32px;

  font-family: $ff-nekst;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 90%;
  /* or 31px */
  color: $color-dark-1;

  @include vp-768 {
    margin-bottom: 44px;

    font-size: 54px;
  }

  @include vp-1120 {
    margin-bottom: 32px;

    max-width: 60%;
  }
}
